/* --Grayish-blue: hsl(237, 18%, 59%);
--Soft-red: hsl(345, 95%, 68%);

--White: hsl(0, 0%, 100%);
--Dark-desaturated-blue: hsl(236, 21%, 26%);
--Very-dark-blue: hsl(235, 16%, 14%);
--Very-dark-blackblue: hsl(234, 17%, 12%); */

.app__container {
	width: 100%;
}

.app__header {
	display: flex;
	flex-flow: column;
	justify-content: space-between;
	align-items: center;
	min-height: 230px;
	height: 100%;
	max-height: 300px;
	padding: 10px 5px;
}

.app__header h1 {
	text-align: center;
	color: var(--White);
	font-size: 3rem;
}

.count {
	width: clamp(320px, 100%, 1200px);
	padding: 10px;
	margin: 0 auto;
}
.count__container {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.app__footer {
	display: flex;
	min-height: 300px;
	width: 100%;
	flex-flow: column;
	align-items: center;
	justify-content: space-around;
	background: url('../images/pattern-hills.svg') center / cover no-repeat;
	color: white;
}
.footer__media {
	width: 50%;
	display: flex;
	justify-content: space-around;
}
.footer__media img,
.footer__icon {
	display: inline-block;
	width: 40px;
	height: 40px;
	cursor: pointer;
}

.facebook {
	background: url('../images/icon-facebook.svg') center / cover no-repeat;
}
.facebook:hover {
	background: url('../images/facebook-hover.svg') center / cover no-repeat;
}

.instagram {
	background: url('../images/icon-instagram.svg') center / cover no-repeat;
}
.instagram:hover {
	background: url('../images/instagram-hover.svg') center / cover no-repeat;
}

.pinterest {
	background: url('../images/icon-pinterest.svg') center / cover no-repeat;
}
.pinterest:hover {
	background: url('../images/pinterest-hover.svg') center / cover no-repeat;
}

.footer__credits {
	text-align: center;
	font-size: 1.4rem;
	padding: 5px;
}
.footer__credits a {
	color: var(--Soft-red);
	margin: 0 3px;
}

@media screen and (min-width: 1100px) {
	.app__footer {
		position: absolute;
		bottom: 0;
	}
	.footer__media img,
	.footer__icon {
		width: 60px;
		height: 60px;
	}
}
