* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Red Hat Text', sans-serif;
	font-size: 62.5%;
	font-weight: 400;
	min-height: 100vh;
	background: var(--Very-dark-blackblue) url('../images/bg-stars.svg');
}

:root {
	--Grayish-blue: hsl(237, 18%, 59%);
	--Soft-red: hsl(345, 95%, 68%);

	--White: hsl(0, 0%, 100%);
	--Dark-desaturated-blue: hsl(236, 21%, 26%);
	--Very-dark-blue: hsl(235, 16%, 14%);
	--Very-dark-blackblue: hsl(234, 17%, 12%);
}

/* background-color: linear-gradient(
		to bottom,
		var(--Very-dark-blackblue),
		var(--Dark-desaturated-blue)
	); */

.btn {
	border: none;
	outline: none;
	cursor: pointer;
}

.btn-primary {
	background: var(--Soft-red);
	color: var(--White);
}
